@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Morgan's Projects</h3>
</div>
<div class="text-left">
    <p>
        <ol>
            <li>
                Contact list
            </li>
            <li>
                Movie Database
            </li>
            <li>
                Final project
            </li>
        </ol>
    </p>
</div>
